*{
    box-sizing: border-box;
}
body {
    background: rgb(252, 201, 209);
}
header {
    height: 100px;
    width: 100%;
    background: rgb(0, 64, 255);
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backscreen {
    background: white;
    height: 400vh;
    width: 97%;
    margin-left: 20px;
    margin-right: 20px;
}
nav {
    height: 100px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}
.logo {
    height: 50px;
    width: 50px;
    background-image: url(./logo.png);
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 35px;
    border-radius: 10%;
    margin-left: 10px;
}
.name {
    padding-left: 100px;
}
ul {
    list-style-type: none;
    width: 50%;
    margin: 0;
    padding-left: 20px;
    display: flex;
    font-size: .6em;
    word-spacing: .1em;
    justify-content: space-around;
    color: black;
}
a:link {
    text-decoration: none;
}
.subscribe {
    height: 50px;
    width: 150px;
    background: hotpink;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

}
.box {
    height: 40px;
    width: 40px;
    background: black;
    color: white;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}
.learn {
    height: 500px;
    width: 85%;
    display: flex;
    float: right;
    background:  rgb(252, 201, 209);;
    flex-direction: column;


}
.line1 {
    font-size: 3em;
    padding-top: 100px;
    padding-left: 100px;
}
.line2 {
    padding-top: 40px;
    padding-left: 100px;

}
.audiobooks {
    height: 50px;
    width: 200px;
    margin-top: 40px;
    margin-left: 100px;
    background: hotpink;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social {
    position: fixed;
    height: 250px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-left: 780px;
    margin-top: 218px;
    justify-content: space-around;
    
}
.twitter, .facebook, .linkedin, .clipboard {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    

}